/* 
    Document   : controlStyle2
*/

.coin-display {
	-fx-background-color: rgb(49, 89, 23);
	-fx-background-radius: 5;
	-fx-background-insets: 5;
	-fx-border-color: rgb(49, 89, 23);
	-fx-border-style: solid;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.rect{
	-fx-fill: rgb(49, 89, 23);
}